<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    Link available until: <b>{{ .DeleteAfter }}</b><br>
    Share this link to your body:<br> 
    <div class="link">
        {{ .Link}}
    </div>
    <br>
    <button class="copy">Copy Link</button><br><br><br>
    <a href="/">Back</a>
    <script>
        let msg = document.querySelector('.link')
        let btn = document.querySelector('.copy')
        btn.addEventListener('click', ()=>{
            navigator.clipboard.writeText(msg.textContent)
        })
    </script>
</body>
</html>